<h2 mat-dialog-title>Adicionar Item</h2>
<mat-dialog-content class="mat-typography">
  <div class="form-group">
    <label for="nome">Produto:</label>
    <span>{{ produto?.descricao }}</span>
  </div>
  <div class="form-group">
    <label for="preco">Preço:</label>
    <span>{{ produto?.precoVenda | currency:'BRL' }}</span>
  </div>
  <div class="form-group">
    <label for="quantidade">Quantidade:</label>
    <input [(ngModel)]="quantidade" (input)="atualizarTotal()" type="number" min="1" placeholder="Digite a quantidade" class="input-quantidade">
  </div>
  <div class="form-group">
    <label for="total">Total:</label>
    <span>{{ total | currency:'BRL' }}</span>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button mat-button (click)="onAdd()">Adicionar</button>
</mat-dialog-actions>
