<div class="busca-produtos-container">
  <h1>Buscar Produtos</h1>
  
  <div class="search-container">
    <input type="text" [(ngModel)]="searchQuery"  (keydown.enter)="searchProdutos()" placeholder="Buscar produtos..." class="search-input">
    <select [(ngModel)]="searchBy" class="search-select">
      <option value="descricao">Descrição</option>
      <option value="id">ID</option>
    </select>
    <button (click)="searchProdutos()" class="search-button">Buscar</button>
  </div>

  <ul *ngIf="filteredProdutos.length > 0; else noProducts" class="product-list">
    <li *ngFor="let produto of filteredProdutos" (click)="viewProduto(produto.id)" class="product-item">
      (ID: {{ produto.id }}) {{ produto.descricao }}
    </li>
  </ul>

  <ng-template #noProducts>
    <p>Nenhum produto encontrado.</p>
  </ng-template>

  <div class="button-container">
    <button (click)="navigateToHome()" class="nav-button">Voltar para Home</button>
    <button (click)="createNovoProduto()" class="nav-button novo-button">Novo</button>
  </div>
</div>
