.pedido-detail-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

h1 {
    text-align: center;
    color: #333;
    font-size: clamp(1.5em, 2.5vw, 2em);
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    position: relative;
}

input, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    background-color: #f9f9f9;
    color: #555;
}

.autocomplete-list {
    list-style-type: none;
    padding: 0;
    margin: 5px 0;
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 100;
}

.autocomplete-list li {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
}

.itens-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.itens-table th, .itens-table td {
    padding: 10px;
    border: 1px solid #ddd;
}

.itens-table th {
    background-color: #f2f2f2;
}

.action-buttons {
    display: flex;
    gap: 10px; /* Adiciona espaço entre os botões */
}

.action-buttons button {
    padding: 5px 10px;
    border-radius: 4px;
    margin-right: 5px;
    cursor: pointer;
    flex: 1;
}

.edit-button {
    background-color: #007bff;
    color: white;

    &:hover {
        background-color: #0652a3;
    }
}

.delete-button {
    background-color: #b90a0a;
    color: white;

    &:hover {
        background-color: #830909;
    }
}


.button-group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

button {
padding: 10px 20px;
border: none;
border-radius: 4px;
cursor: pointer;
color: white;
flex: 1 1 calc(33% - 10px);
}

.consultar-button {
    background-color: #1f9203;
    color: #ffffff;
    &:hover {
        background-color: #087408;
    }
}

.feedback-box {
margin-top: 20px;
padding: 10px;
border-radius: 4px;
text-align: center;
font-size: 1.2em;
}

.success {
background-color: #d4edda;
color: #155724;
border: 1px solid #c3e6cb;
}

.error {
background-color: #f8d7da;
color: #721c24;
border: 1px solid #f5c6cb;
}

.voltar-home-button {
    background-color: #c48704;
    color: white;
    &:hover {
        background-color: #b16707;
    }
} 

.form-group span {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
    display: inline-block;
    margin-top: 10px;
  }
  
