<div class="busca-clientes-container">
  <h1>Buscar Clientes</h1>

  <div class="search-container">
    <input type="text" [(ngModel)]="searchQuery" (keydown.enter)="searchClientes()" placeholder="Buscar clientes..." class="search-input">
    <select [(ngModel)]="searchBy" class="search-select">
      <option value="nome">Nome</option>
      <option value="id">ID</option>
      <option value="cpfCnpj">CPF/CNPJ</option>
    </select>
    <button (click)="searchClientes()" class="search-button">Buscar</button>
  </div>

  <!-- Tabela de resultados -->
  <table *ngIf="filteredClientes.length > 0; else noClients" class="client-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome/Razão Social</th>
        <th>Vendedor</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cliente of filteredClientes" (click)="viewCliente(cliente.id)" class="client-item">
        <td>{{ cliente.id }}</td>
        <td>{{ cliente.nomeFantasia || cliente.razaoSocial || cliente.nome }}</td>
        <td>{{ cliente.vendedor.nome }}</td>
      </tr>
    </tbody>
  </table>

  <ng-template #noClients>
    <p>Nenhum cliente encontrado.</p>
  </ng-template>

  <div class="button-container">
    <button (click)="navigateToHome()" class="nav-button">Voltar para Home</button>
    <button (click)="createNovoCliente()" class="nav-button novo-button">Novo</button>
  </div>
</div>
