<div class="busca-liberacao-container">
  <h1>Buscar Usuários Bloqueados</h1>
  
  <div class="search-container">
    <input type="text" [(ngModel)]="searchQuery" placeholder="Buscar usuários..." class="search-input">
    <select [(ngModel)]="searchBy" class="search-select">
      <option value="nomeUsuario">Nome</option>
      <option value="id">ID</option>
    </select>
    <button (click)="searchUsuarios()" class="search-button">Buscar</button>
  </div>

  <ul *ngIf="filteredUsuarios.length > 0; else noUsers" class="user-list">
    <li *ngFor="let usuario of filteredUsuarios" (click)="autorizarUsuario(usuario.id)" class="user-item">
      <span>(ID {{ usuario.id }}) - {{ usuario.nomeUsuario }}</span>
      <span class="categoria">{{ usuario.categoria.nome_categoria }}</span>
    </li>
  </ul>
  
  <ng-template #noUsers>
    <p>Nenhum usuário bloqueado encontrado.</p>
  </ng-template>
  
  <div class="button-container">
    <button (click)="navigateToHome()" class="nav-button">Voltar para Home</button>
  </div>
</div>
