<div class="vendas-home-container">
  <div class="top-bar">
    <button class="sair-button" (click)="sair()">Sair</button>
  </div>

  <div class="main-content">
    <h1 class="welcome-title">Área de Vendas</h1>
    <div class="main-buttons">
      <button class="main-button" (click)="novoPedido()">Novo Pedido</button>
      <button class="main-button" (click)="abrirPedidos()">Consultar Pedidos</button>
      <button class="main-button" (click)="abrirClientes()">Clientes</button>
    </div>
  </div>
</div>
