*{
  color: #333;
}

p{
  margin: 0;
}

// PAGINA CONTAINER
.container{
  width: 100vw;
  height: 100vh;
  background-color: #F4F4F4;

  .container__title{
    font-size: 1.75rem;
    color: #262626;
    text-align: center;
    margin-bottom: 20px;

  }
}


// LOGIN CONTAINER
.login{
  max-width: 400px;
  margin: 0 auto;
  padding: 32px;
  border: 1px solid #DDD;
  border-radius: 5px;
  background-color: #FFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

  .login__title{
    display: block;
    font-size: 2rem;
    font-weight: 700;
    color: #000;
    margin-bottom: 2.5rem;
  }


  .login__request__link{
    // margin-bottom: 40px;
    padding-top: 4px;
    font-size: 0.75rem;
    color: #A8A8A8;

    .small-link {
      color: #007bff;
      transition: color 0.3s;

      &:hover {
        color: #0056b3;
      }
    }
  }

  .login__modal{
    width: 100%;
    font-size: 0.875rem;
    padding: 8px;
    margin: 4px 0;
    border-left: 6px solid #DB1F29;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    display: flex;
    align-items: center;
    .login__modal__icone-alert{
      width: 20px;
      margin-right: 4px;
    }

  }

  // FORMULÁRIO
  .login__form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .login__form label{
    display: block;
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 4px;
  }

  .login__form input{
    background-color: #F2F4F8;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color 0.3s;


    &:focus {
      border-color: #007bff;
      outline: none;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    &::placeholder{
      color:#8D8D8D;
      font-size: 1rem;
    }
  }

  .login__form__itens__alert{
    font-size: 0.75rem;
    color: red;             /* Cor vermelha para destacar o erro */
    margin-top: 4px;         /* Margem para separar do campo */
    display: block;          /* Exibir o span como bloco */
  }

  .login__form__button{
    width: 100%;
    text-align: start;
    padding: 15px 10px;
    font-weight: 500;
    margin-top: 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.25rem;
    transition: background-color 0.3s;

    &:hover {
      background-color: #0056b3;
    }
  }

}


// MEDIA

@media (max-width: 600px) {

  .login{
    max-width: 348px;
  }
}
