<div class="container">
  <h1 class="container__title">MammaERP</h1>

  <div class="login">

    <span class="login__title">Log in</span>

    <form class="login__form" (ngSubmit)="onSubmit()" [formGroup]="profileForm">

      <div class="login__form__itens">
        <label for="username">Usuário</label>
        <input type="text" id="username" name="username" formControlName="username">
        @if (profileForm.controls.username.errors?.['required'] && profileForm.controls.username.touched) {
          <span class="login__form__itens__alert">Nome obrigatório</span>
        }
      </div>

      <div class="login__form__itens">
        <label for="password">Senha</label>
        <input type="password" id="password" name="password" formControlName="password">
        @if (profileForm.controls.password.errors?.['required'] && profileForm.controls.password.touched) {
          <span class="login__form__itens__alert">
            Senha obrigatória
          </span>
        } @else if (profileForm.controls.password.errors?.['minlength'] && profileForm.controls.password.touched) {
          <span class="login__form__itens__alert">
            Minimo 3 caracteres
          </span>
        }

      </div>

      <ng-template [ngIf]="isError" class="login__modal">
        <div class="login__modal">
            <img class="login__modal__icone-alert" src="images/icone-alerta.png" alt="">{{errorMessage}}
        </div>
      </ng-template>

      <button type="submit" class="login__form__button">Log in</button>
    </form>



    <div class="login__request__link">
      <span>Não tem conta? </span>
      <a href="/signup" routerLink="/signup" class="small-link">Solicitar novo Login</a>
    </div>

  </div>
</div>
