<div class="cozinha-home-container">
    <div class="top-bar">
      <button class="sair-button" (click)="sair()">Sair</button>
    </div>
  
    <div class="main-buttons">
      <button class="main-button" (click)="abrirAgenda()">Agenda de Pedidos</button>
      <button class="main-button" (click)="abrirPedidosEmProducao()">Pedidos em Produção</button>
      <button class="main-button" (click)="abrirReceitas()">Receitas</button>
      <button class="main-button" (click)="abrirPedidos()">Pedidos</button>
    </div>
  </div>
  