<div class="cliente-detail-container">
    <div class="info-header">
      <div class="info-item">
        <strong>ID:</strong> {{ idDisplay }}
      </div>
      <div class="form-group tipo-pessoa-group">
        <label for="tipoPessoa"><strong>Tipo de Pessoa:</strong></label>
        <div *ngIf="isNew" class="input-inline">
          <select id="tipoPessoa" [(ngModel)]="cliente.tipoPessoa" name="tipoPessoa">
            <option value="fisica">Pessoa Física</option>
            <option value="juridica">Pessoa Jurídica</option>
          </select>
        </div>
        <div *ngIf="!isNew" class="input-inline">
          <span>{{ cliente.tipoPessoa === 'fisica' ? 'Pessoa Física' : 'Pessoa Jurídica' }}</span>
        </div>
      </div>

      <!-- Campo de CPF ou CNPJ, exibido somente após a seleção do tipo de pessoa -->
      <div *ngIf="cliente.tipoPessoa" class="info-item cpf-cnpj-group">
        <label><strong>{{ cliente.tipoPessoa === 'fisica' ? 'CPF:' : 'CNPJ:' }}</strong></label>
        <div *ngIf="isNew" class="input-inline">
          <input 
            type="text"
            [(ngModel)]="cliente.cpfCnpj"
            [attr.placeholder]="cliente.tipoPessoa === 'fisica' ? 'Digite o CPF' : 'Digite o CNPJ'"
            [mask]="cpfCnpjMask"
            [ngModelOptions]="{ updateOn: 'blur' }"
          />
        </div>
        <div *ngIf="!isNew" class="input-inline">
          <span>{{ formatCpfCnpj(cliente.tipoPessoa === 'fisica' ? cliente.cpf : cliente.cnpj) }}</span>
        </div>
      </div>
    </div>
  
    <div class="tab-selector">
      <button [class.active]="activeTab === 'geral'" (click)="setActiveTab('geral')">Geral</button>
      <button [class.active]="activeTab === 'endereco'" (click)="setActiveTab('endereco')">Endereço</button>
      <button [class.active]="activeTab === 'contato'" (click)="setActiveTab('contato')">Contato</button>
    </div>
  
    <div *ngIf="activeTab === 'geral'" class="tab-content">
      <div *ngIf="cliente.tipoPessoa === 'juridica'" class="tab-content">
        <div class="form-group">
          <label for="nome">Nome</label>
          <input type="text" id="nome" [(ngModel)]="cliente.nomeFantasia" name="nome" />
        </div>
      
        <div class="form-group">
          <label for="razaoSocial">Razão Social</label>
          <input type="text" id="razaoSocial" [(ngModel)]="cliente.razaoSocial" name="razaoSocial" />
        </div>
      </div>

      <div *ngIf="cliente.tipoPessoa != 'juridica'" class="tab-content">
        <div class="form-group">
          <label for="nome">Nome</label>
          <input type="text" id="nome" [(ngModel)]="cliente.razaoSocial" name="nome" />
        </div>
      </div>
    
      <div class="form-group">
        <label for="vendedor">Vendedor</label>
        <input type="text" id="vendedor" [(ngModel)]="vendedorInput" (input)="onSearchVendedores($event)" name="vendedor" />
        <ul *ngIf="vendedores.length > 0 && showVendedoresList" class="autocomplete-list">
          <li *ngFor="let vendedor of vendedores" (click)="onSelectVendedor(vendedor)">
            {{ vendedor.nome }} ({{ vendedor.email }})
          </li>
        </ul>
      </div>
      
    
      <div class="ie-container">
        <label for="estadoInscricaoEstadual">Possui Inscrição Estadual?</label>
        <select id="estadoInscricaoEstadual" [(ngModel)]="cliente.estadoInscricaoEstadual" (change)="setEstadoInscricaoEstadual($event)" class="ie-select">
          <option [value]="true">Sim</option>
          <option [value]="false">Não</option>
        </select>
      </div>
      
      <!-- Campo de inscrição estadual -->
      <div class="form-group" *ngIf="cliente.estadoInscricaoEstadual">
        <label for="inscricaoEstadual">Inscrição Estadual</label>
        <input type="text" id="inscricaoEstadual" [(ngModel)]="cliente.inscricaoEstadual" name="inscricaoEstadual" placeholder="Insira a inscrição estadual" class="ie-input"/>
      </div>      
    
      <!-- Campo para RG -->
      <div class="form-group">
        <label for="rg">RG</label>
        <input 
          type="text" 
          id="rg" 
          [(ngModel)]="cliente.rg" 
          name="rg" 
          placeholder="Insira o RG"
          maxlength="14"
        />
      </div>
    
      <!-- Campo para Data de Nascimento -->
      <div class="form-group">
        <label for="dataNascimento">Data de Nascimento</label>
        <input type="date" id="dataNascimento" [(ngModel)]="cliente.dataNascimento" name="dataNascimento" />
      </div>
    
      <!-- Campo imutável para Data de Cadastro -->
      <div class="form-group">
        <label for="dataCadastro">Data de Cadastro</label>
        <input type="date" id="dataCadastro" [(ngModel)]="cliente.dataCadastro" name="dataCadastro" readonly />
      </div>
    </div>
  
    <div *ngIf="activeTab === 'endereco'" class="tab-content">
      <div class="form-group">
        <label for="cep">CEP</label>
        <input 
          type="text" 
          id="cep" 
          [(ngModel)]="cliente.cep" 
          name="cep" 
          [mask]="cepMask" 
          placeholder="Digite o CEP"
          (blur)="onBuscarCep()"
        />
      </div>
           
      <div class="form-group">
        <label for="endereco">Endereço</label>
        <input type="text" id="endereco" [(ngModel)]="cliente.endereco" name="endereco" />
      </div>
      <div class="form-group">
        <label for="complemento">Complemento</label>
        <input type="text" id="complemento" [(ngModel)]="cliente.complemento" name="complemento" />
      </div>
      <div class="form-group">
        <label for="numero">Numero</label>
        <input type="text" id="numero" [(ngModel)]="cliente.numero" name="numero" />
      </div>
      <div class="form-group">
        <label for="cidade">Cidade</label>
        <input type="text" id="cidade" [(ngModel)]="cidadeInput" (input)="onSearchCidades($event)" name="cidade" />
        <ul *ngIf="cidades.length > 0 && showCidadesList" class="autocomplete-list">
          <li *ngFor="let cidade of cidades" (click)="onSelectCidade(cidade)">
            {{ cidade.nome }} ({{ cidade.estado }})
          </li>
        </ul>
      </div>
      
      <div class="form-group">
        <label for="bairro">Bairro</label>
        <input type="text" id="bairro" [(ngModel)]="cliente.bairro" name="bairro" />
      </div>

      <div class="form-group">
        <label for="estado">Estado</label>
        <input type="text" id="estado" [(ngModel)]="cliente.cidade.estado" name="estado" readonly/>
      </div>
    </div>
  
    <div *ngIf="activeTab === 'contato'" class="tab-content">
      <div class="form-group">
        <label for="celular">Celular</label>
        <input 
          type="text" 
          id="celular" 
          [(ngModel)]="cliente.celular" 
          name="celular" 
          [mask]="celularMask"
          placeholder="Digite o celular"
        />
      </div>
      <div class="form-group">
        <label for="telefone">Telefone</label>
        <input 
          type="text" 
          id="telefone" 
          [(ngModel)]="cliente.telefone" 
          name="telefone" 
          [mask]="telefoneMask"
          placeholder="Digite o telefone"
        />
      </div>      
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" [(ngModel)]="cliente.email" name="email" />
      </div>
    </div>
  
    <div class="button-group">
      <button (click)="onNew()" type="button" class="button novo-button">Novo</button>
      <button (click)="onSave()" type="submit" class="button gravar-button">Gravar</button>
      <button *ngIf="!isNew" (click)="onDelete()" type="button" class="button deletar-button">Deletar</button>
      <button (click)="onConsultar()" type="button" class="button consultar-button">Consultar</button>
    </div>
  
    <div *ngIf="message" class="feedback-box" [ngClass]="{'success': isSuccess, 'error': !isSuccess}">
      {{ message }}
    </div>
  </div>
  