.cliente-detail-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.15);
    font-family: Arial, sans-serif;

    .autocomplete-list {
        list-style-type: none;
        padding: 0;
        margin: 5px 0;
        max-height: 200px;
        overflow-y: auto;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        background-color: white;
        z-index: 1000;
        position: absolute;
        width: calc(100% - 22px); /* Ajuste para alinhar com o input */
      }

      .autocomplete-list li {
        padding: 10px;
        cursor: pointer;
        border-bottom: 1px solid #eee;
        transition: background-color 0.2s ease;

        &:hover {
          background-color: #f0f0f0;
        }

        &:last-child {
          border-bottom: none;
        }
      }

      .form-group {
        position: relative; /* Necessário para alinhar a lista com o input */
      }


    .info-header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      padding: 15px;
      background-color: #e3e3e3;
      border-radius: 6px;
      flex-wrap: wrap;
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);

      .info-item {
        font-size: 16px;
        display: flex;
        align-items: center;

        strong {
          margin-right: 8px;
          font-weight: bold;
        }

        .input-container {
          display: inline-block;
        }
      }

      .tipo-pessoa-group,
      .cpf-cnpj-group {
        display: flex;
        align-items: center;
        gap: 15px;

        select,
        input {
          padding: 10px 0px;
          border: 1px solid #ccc;
          border-radius: 5px;
          font-size: 14px;
          outline: none;
          transition: border 0.3s;

          &:focus {
            border-color: #4caf50;
          }
        }

        select {
          background-color: white;
          appearance: none;
          cursor: pointer;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        input {
          max-width: 200px;
        }
      }
    }

    .tab-selector {
      display: flex;
      justify-content: space-around;
      margin-bottom: 25px;

      button {
        background-color: #e0e0e0;
        border: none;
        padding: 12px 25px;
        font-size: 16px;
        cursor: pointer;
        border-radius: 5px;
        transition: background-color 0.3s;

        &.active {
          background-color: #4caf50;
          color: white;
        }

        &:hover {
          background-color: #c0c0c0;
        }
      }
    }

    .tab-content {
      margin-bottom: 20px;

      .form-group {
        margin-bottom: 20px;

        label {
          display: block;
          font-weight: bold;
          margin-bottom: 8px;
        }

        input {
          width: 100%;
          padding: 10px 0px;
          border: 1px solid #ccc;
          border-radius: 5px;
          font-size: 15px;
          outline: none;
          transition: border 0.3s;

          &:focus {
            border-color: #4caf50;
          }
        }
      }
      .ie-container {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
      }
      
      .ie-container label {
          margin-right: 10px;
          font-weight: bold;
      }
      
      .ie-select {
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 5px;
          background-color: #fff; /* Cor de fundo */
          transition: border 0.3s, background-color 0.3s;
          font-size: 14px;
          cursor: pointer;
          outline: none;
          appearance: none; /* Remove a aparência padrão */
          color: #333;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

          &:hover {
            background-color: #e0e0e0;
          }
      }
      
      .ie-select:focus {
          border-color: #e7e7e7; /* Cor de borda ao focar */
          background-color: #f1f1f1; /* Mudança de cor ao focar */
      }
      
      .ie-input {
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 5px;
          width: 100%;
          font-size: 14px;
          transition: border 0.3s;
      }
      
      .ie-input:focus {
          border-color: #d6d6d6; /* Cor da borda no foco */
      }
    }

    .button-group {
      display: flex;
      justify-content: space-between;
      margin-top: 30px;

      button {
        background-color: #4caf50;
        color: white;
        border: none;
        padding: 12px 25px;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
          background-color: #45a049;
        }

        &.novo-button {
          background-color: #008cba;

          &:hover {
            background-color: #007bb5;
          }
        }

        &.gravar-button {
          background-color: #4caf50;
        }

        &.deletar-button {
          background-color: #f44336;

          &:hover {
            background-color: #d32f2f;
          }
        }

        &.consultar-button {
          background-color: #ff9800;

          &:hover {
            background-color: #fb8c00;
          }
        }
      }
    }

    .feedback-box {
      margin-top: 25px;
      padding: 15px;
      border-radius: 5px;
      text-align: center;
      font-weight: bold;

      &.success {
        background-color: #4caf50;
        color: white;
      }

      &.error {
        background-color: #f44336;
        color: white;
      }
    }
  }


@media (max-width: 600px) {
  .button-group {
    flex-direction: column;
    gap: 10px;
  }

  .cliente-detail-container{
    max-width: 320px;
  }
}
