<div class="container" [class.collapsed]="isSidebarCollapsed">

  <aside class="sidebar" [class.sidebar-collapsed]="isSidebarCollapsed">
    <div class="toggle-button">
      <button (click)="toggleSidebar()"><img src="images/icone-menu.png" alt=""></button>
    </div>
    <nav class="sidebar-navigation">
      <!-- Renderiza os menus dinamicamente -->
      <ul class="list-itens" >
        <li class="item" *ngFor="let item of menuItems">
          <div class="item-main">

            <img (mouseenter)="openSideBar()" src="{{item.image}}" alt="" >
            <a class="link-text" href="javascript:void(0)" (click)="toggleMenu(item.label)">
              <span>{{ item.label }}</span>
            </a>
          </div>
          <ul class="item-subtitem" *ngIf="isMenuExpanded(item.label)">
            <li *ngFor="let subItem of item.subItems">
              <a *ngIf="!subItem.subItems" [routerLink]="subItem.routerLink">
                {{ subItem.label }}
              </a>
              <!-- Submenus aninhados -->
              <div *ngIf="subItem.subItems">
                <a href="javascript:void(0)" (click)="toggleMenu(subItem.label)">
                  {{ subItem.label }}
                </a>
                <ul *ngIf="isMenuExpanded(subItem.label)">
                  <li *ngFor="let subSubItem of subItem.subItems">
                    <a [routerLink]="subSubItem.routerLink">{{ subSubItem.label }}</a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </aside>

  <header class="topbar">
    <button (click)="logout()">Sair</button>
  </header>

  <main class="content">
    <h1>Bem-vindo à área Gerencial</h1>
    <p>Esta é a sua página inicial da área gerencial do ERP.</p>
  </main>

</div>
