<div class="container" [class.collapsed]="isSidebarCollapsed">

  <aside class="sidebar" [class.sidebar-collapsed]="isSidebarCollapsed">

    <div class="sidebar__button">

      <button class="sidebar__icon-toggle" (click)="toggleSidebar()">
        <img src="images/icone-menu.png" alt="">
      </button>
    </div>

    <nav class="navagation">
      <!-- Renderiza os menus dinamicamente -->

      <ul class="list list1-items" *ngFor="let item of menuItems">

        <li class="item">

          <div class="item__main" href="javascript:void(0)"  (click)="toggleMenu(item.label,isSidebarCollapsed)" >

            <div class="main-icone">
              <img src="{{item.image}}" alt="">
            </div>

            <div class="main-describe">
              <span>{{item.label}}</span>
              <img src="{{item.icone}}" [ngClass]="{'rotate':isMenuExpanded(item.label)}" alt="">
            </div>

          </div>


          <ul class="list list2-items" *ngIf="isMenuExpanded(item.label)">

            <li class="item"  *ngFor="let subItem of item.subItems">

              <div  class="item-link" *ngIf="!subItem.subItems">
                <a [routerLink]="subItem.routerLink">
                  <span>{{ subItem.label }}</span>
                </a>
              </div>
              <!-- Submenus aninhados -->
              <div class="item-sub" *ngIf="subItem.subItems">

                <div class="item-secondary"  (click)="toggleMenu(subItem.label)">
                    <a  href="javascript:void(0)" >
                    <span>{{ subItem.label }}</span>
                    </a>
                    <img src="{{ subItem.icone }}" [ngClass]="{'rotate':isMenuExpanded(subItem.label)}" alt="">
                </div>


                <ul class="list list3-items" *ngIf="isMenuExpanded(subItem.label)">
                  <li class="item" *ngFor="let subSubItem of subItem.subItems">
                    <a [routerLink]="subSubItem.routerLink"><span>{{ subSubItem.label }}</span></a>
                  </li>
                </ul>

              </div>

            </li>

          </ul>

        </li>

      </ul>

    </nav>
  </aside>

  <header class="topbar">
    <button (click)="logout()">Sair</button>
  </header>

  <main class="content">
    <h1>Bem-vindo à área Gerencial</h1>
    <p>Esta é a sua página inicial da área gerencial do ERP.</p>
  </main>

</div>
